* {
  box-sizing: border-box;
}

.element {
  border: thin solid black;
  border-radius: 12px;
}

.grid {
  display: grid;
  width: 600px;
  height: 600px;
  margin: auto;

  grid-template-areas:
    " x x a a b "
    " c d e f f "
    " g d h f f ";

  row-gap: 20px;
  column-gap: 50px;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
